body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: rgb(89, 85, 71);
    color:white;
}

h1, h2, h3 {
    color: cornflowerblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

strong {
    color: rgb(253, 197, 54);
    font-size: 1.3em;
}

img.validator {
    width: 66px;
    height: 23px;
}

a:link {text-decoration : none; color: deepskyblue; }
a:hover{ text-decoration: underline;}
p::first-letter{
    font-size: 1.5em;
}
dt{
    color:rgb(221, 99, 11)
}