# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Arjun-Work\MIU\Assignment\wap\wap-workspace\assignment\akkhadka.github.io\lesson10\lab\introservlet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
